<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d847cbed4d.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/styles.css' />
  <title>Lab07</title>
</head>
<body>
  <header>
    <nav id="mainNav">
      <div id="logo">
        <h1>Izzy's Recipes</h1>
      </div>
      <div id="menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul id="nav">
      </ul>
    </nav>
  </header>
  <section id="mainSection">
    <div id="banner">
      <div id="searchContainer">
        <h2 id="searchText">Find a Recipe</h2>
        <input type="text" id="searchInput">
        <i id="searchIcon" class="fas fa-search"></i>
      </div>
    </div>

    <div id="newRecipesContainer">
      <h2 class="containerTitle">new recipes</h2>
      <ul id="newReciGrid" class="recipeGrid"></ul>
    </div>

    <div id="popRecipeContainer">
      <h2 class="containerTitle">popular recipes</h2>
      <ul id="popuReciGrid" class="recipeGrid">
      </ul>
    </div> 

  </section>
  <footer>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="module" src="/javascripts/script.js"></script>
</body>
</html>
