/*
logo font
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/*
main font
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');
:root{
  --main-color: #F1E3B4;
  --sub-color: #D68A1D;
  --sub-hover-color: #b97617;
  --font-color: #251e07;
  --font-sub-color: #fcf0df;
  --christmas-red: #D02743;
  --christmas-green: #19A936;
  --menu-color: white;
}

/*
remove the default values
*/

h2{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
body
*/

body{
  background-color: var(--main-color);
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

#mainNav{
  background-color: var(--sub-color);
  position: relative;
  height: 80px;
}

#logo h1{
  font-family: 'Dancing Script', cursive;
  margin: 0;
  position: absolute;
  top: 27%;
  left: 10%;
  color: var(--font-color);
  font-size: 2.5em;
}

#menu{
  display: none;
}

.line{
  width: 50px;
  height: 8px;
  margin-bottom: 10px;
  background-color: var(--menu-color);
}

#nav{
  position: absolute;
  right: 4%;
  top: 23%;
}

#nav li{
  font-size: 1.4em;
  display: inline;
  padding-left: 20px;
}

#nav li:hover{
  font-size: 1.7em;
  cursor: pointer;
}

#banner{
  background-image: url("../images/banner02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

#searchContainer{
  margin-left: 30%;
}

#searchText{
  color: var(--font-sub-color);
  font-size: 2.5em;
  padding-top: 20%;
  margin-bottom: 1%;
}

#searchInput{
  padding: 10px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

.fa-search{
  color: var(--font-sub-color);
  font-size: 2.6em;
  padding-left: 30px;
}

#addBtn{
  width: 130px;
  height: 70px;
  margin-left: 20%;
}

.containerTitle{
  text-transform: uppercase;
  margin: 5% 0 5% 10%;
  font-size: 2.5em;
  font-weight: bold;
}

.recipeGrid{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

.recipeTitle{
  margin-bottom: 10%;
}

.recipeSubTitle{
  font-size: 2em;
}

.recipe{
  margin-bottom: 20%;
  text-align: center;
}

.recipeImage{
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.recipeContent{
  text-align: left;
  padding: 10%;
}

footer{
  background-color: var(--sub-color);
  height: 100px;
}

@media screen and (max-width: 1300px){

  #menu{
    display: block;
    position: absolute;
    top: 20%;
    right: 10%;
  }

  #nav{
    display: none;
    position: static;
    margin: 0 0 10% 0;
    padding-top: 9%;
    background-color: var(--sub-color);
    height: 170px;
  }

  #nav li{
    display: block;
    font-size: 1.4em;
    padding: 1% 0 1% 10%;
  }

  #nav li:hover{
    background-color: var(--sub-hover-color);
  }

  #searchText{
    padding-top: 30%;
  }
}

@media screen and (max-width: 1100px){

  #nav{
    padding-top: 15%;
  }

  #searchContainer{
    display: none;
  }

  .recipeGrid{
    display: block;
  }

  .recipeContent{
    padding: 5% 10% 10% 10%;
  }

  .recipe{
    margin-bottom: 0;
  }

  .recipeTitle{
    font-size: 1.9em;
    margin-bottom: 6%;
  }

  .recipeImage{
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 900px){
  .containerTitle{
    text-align: center;
    margin: 5% 0 5% 0;
  }
  .recipeContent{
    padding: 5% 15% 10% 15%;
  }
}